@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --bg: #f5f5f5;
  --bg-accent: #607744;
  --text: #333;
  --text-accent: #34623f;
  --border: #ddd;
  --border-accent: #dcc;
  --highlight: #160c28;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.section-separator {
  border: 0;
  height: 1px;
  background-color: var(--bg-accent);
  width: 60%;
}

html {
  background-color: var(--bg);
  font-family: "Ubuntu", sans-serif;
  color: var(--text);
  /* user-select: none; */
  width: 100vw;
  /* overflow-x: hidden; */
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
  list-style-type: none;
  background: var(--bg-accent);
  color: var(--text);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.nav-links {
  display: flex; /* flex row */
  justify-content: space-between; /* space between links */
  /* transform: translate(50%, 0); */
  width: 50%;
  margin: auto;
  padding: 1rem 0;
}

#burger {
  display: none; /* hide on large screens, will change in JS on mobile */
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-75%, 75%);
  cursor: pointer;
  background-color: var(--text-accent);
  padding: 5px;
  border-radius: 5px;
}

#burger div {
  width: 25px;
  height: 3px;
  /* background-color: var(--bg-accent); */
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.name strong {
  font-weight: 900;
  color: var(--text-accent);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}

.header h1 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}

#socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 1rem;
}

#socials a {
  margin-top: 1rem;
  /* color: var(--text-accent) */
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  .highlight {
    margin: auto;
    font-size: 2.5rem;
  }

  .project .text {
    /* width: 75%; */
    margin:auto;
    text-align: left;
    line-height: 1.75rem;
  }

  .text {
    line-height: 1.75rem;
  }

  .job {
    /* margin: auto 0; */
    text-align: center;
    /* width: 50%; */
  }
}

.job .company {
  color: var(--text-accent); 
}

.job .dates {
  font-style: italic;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
  /* width: 100vw; */
}

.skill {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--text-accent);
  color: white;
}

.skill p {
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}

.bar {
  height: 1rem;
  background-color: var(--bg-accent);
  border-radius: 5px;
  width: 10rem;
  margin-left: auto;
  margin-top: 0.25rem;
  justify-content: flex-end;
  align-items: center;
}

.progress {
  line-height: 0.5rem;
  height: inherit;
  background-color: var(--text-accent);
  border-radius: 5px;
  width: 0;
  transition: width 1s ease;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
}

.list-item {
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
  text-align: left;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}

.projects hr {
  border: 0.5px solid var(--bg-accent);
  opacity: 0.7;
  width: 50%;
  margin: 1rem auto;
}

.projects a {
  text-decoration: underline;
  color: var(--text-accent);
}

.project h3 a {
  color: var(--text);
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .project .text {
    width: 75%;
    margin:auto;
    line-height: 1.5rem;
  }
  .project .text {
    width: 100%;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: max-content;
  margin: auto;
  font-size: 0.8rem;
  text-align: center;
  height: min-content;
}

.tag {
  margin: 0.5rem;
  background-color: lightgray;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  white-space: nowrap;
  /* overflow-wrap: normal; */
}

@media screen and (max-width: 768px) {
  .tags {
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: start;
    align-items: start;
    line-height: normal;
    margin: 0;
    padding-top: 0.2rem;
  }

  .tag {
    margin: 0;
    margin-right: 0.5rem;
    background-color: lightgray;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    /* white-space: inherit; */
    overflow-wrap: break-word;
  }
}

.education {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;

  li {
    list-style:disc;
  }
}

.education a {
  text-decoration: underline;
  color: var(--text-accent);
}

.awards {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}

.award p {
  line-height: 1.5rem;    
}

.modal-button {
  background-color: var(--border);
  color: var(--bg);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

.modal-text {
  display: none;
  padding: 1rem;
  border: 1px solid var(--border-accent);
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
  margin: 1rem;
}

.modal-content {
  padding: 1rem;
  border: 1px solid var(--border-accent);
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
  margin: 1rem;
  z-index: 2;

  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  /* height: 80%; */
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.close-button {
  background-color: var(--bg-accent);
  color: var(--text);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 768px) {
  /* On mobile devices, set height of project-links to min-content */
  .project-links {
    height: min-content;
  }

  /* Hide modal info buttons */
  .modal-button {
    display: none;
  }

  /* Show modal text as regular text */
  .modal-text {
    display: block;
  }
}

@media screen and (max-width: 768px){
  .award {
    padding-bottom: 1rem;
  }

}

.school {
  margin-top: 3rem;
}

.highlight {
  color: var(--text-accent);
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}

.contact-me a {
  text-decoration: underline;
  color: var(--text-accent);
}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {

  :root {
    --bg: #333;
    --text-accent: #607744;
    --text: #f5f5f5;
    --bg-accent: #34623f;
    --border: #ddd;
    --border-accent: #dcc;
    --highlight: #160c28;
  }

  a {
    color: var(--text-accent);
  }

  .tag {
    background-color: var(--bg-accent);
  }

  .skill {
    background-color: var(--bg-accent);
  }

  .bar {
    background-color: var(--text-accent);
  }

  .highlight {
    color: var(--text)
  }

  nav a {
    color: var(--text);
  }
}